Welcome to CS351 Intro to AI at Saraya Hamra University!

# Lab 1: Explore data in a Jupyter Notebook
References: [Titanic on Kaggle](https://www.kaggle.com/competitions/titanic)

In [1]:
### Import libraries for data exploration and visualization
%pip install numpy pandas matplotlib seaborn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Requirement already satisfied: numpy in c:\users\bahas\appdata\local\programs\python\python39\lib\site-packages (2.0.2)
Requirement already satisfied: pandas in c:\users\bahas\appdata\local\programs\python\python39\lib\site-packages (2.2.3)
Requirement already satisfied: matplotlib in c:\users\bahas\appdata\local\programs\python\python39\lib\site-packages (3.9.4)
Requirement already satisfied: seaborn in c:\users\bahas\appdata\local\programs\python\python39\lib\site-packages (0.13.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\bahas\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\bahas\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bahas\appdata\roaming\python\python39\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\bahas\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\bahas\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\bahas\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\bahas\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (4.56.0)
Requirement already satisfied: cycler>=0.10 in c:\users\bahas\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: packaging>=20.0 in c:\users\bahas\appdata\roaming\python\python39\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\bahas\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\bahas\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (6.5.2)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\bahas\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: zipp>=3.1.0 in c:\users\bahas\appdata\roaming\python\python39\site-packages (from importlib-resources>=3.2.0->matplotlib) (3.21.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.1; however, version 25.0.1 is available.
You should consider upgrading via the 'c:\Users\bahas\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

## Collect & Visualize Data

### Loading Titanic data

We will load a dataset about who survived the Titanic disaster.

Most of our analysis will be done in `pandas`. The [`read_csv`](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) function is full-featured and very useful.

In [2]:
train_data = pd.read_csv('train.csv')
print(f"The Dataframe (matrix) has {train_data.shape[0]} rows "
  + f"and {train_data.shape[1]} columns.\n")
print("Here's what some rows of data look like:")
display(train_data.head())

The Dataframe (matrix) has 891 rows and 12 columns.

Here's what some rows of data look like:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Exploring data
We've read our comma-separated value (CSV) file into a `pandas` [Dataframe](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html). In this case, `train_data` is a Dataframe that's shaped like a matrix. In `pandas` Dataframes, you can refer to things by their column (or row) headings as well as by index in the matrix.

In [3]:
# Indexing & Selection. e.g., for item 2 of the 'Ticket' (8th) column
print(f"Referring by index, row 2 column 8:\n{train_data.iloc[2][8]}\n")
print(f"Referring by 'Ticket' column, row 2:\n{train_data['Ticket'][2]}\n")

print(f"Selecting a column by heading 'Ticket':\n{train_data['Ticket']}\n")

print("Selecting a row by the value in 'Ticket':")
print(train_data.loc[train_data['Ticket'] == 'STON/O2. 3101282'])

Referring by index, row 2 column 8:
STON/O2. 3101282

Referring by 'Ticket' column, row 2:
STON/O2. 3101282

Selecting a column by heading 'Ticket':
0             A/5 21171
1              PC 17599
2      STON/O2. 3101282
3                113803
4                373450
             ...
886              211536
887              112053
888          W./C. 6607
889              111369
890              370376
Name: Ticket, Length: 891, dtype: object

Selecting a row by the value in 'Ticket':
   PassengerId  Survived  Pclass                    Name     Sex   Age  SibSp  \
2            3         1       3  Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket   Fare Cabin Embarked
2      0  STON/O2. 3101282  7.925   NaN        S

C:\Users\bahas\AppData\Local\Temp\ipykernel_17740\1199071101.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"Referring by index, row 2 column 8:\n{train_data.iloc[2][8]}\n")

### Plotting a histogram with Seaborn
Often, we'd like to visualize the data with specific plots. Let's try to plot the relationship between `Survived` and `Age` to see if older or younger people are more likely to survive, using a kind of bar chart called a histogram (see Seaborn documentation on [histplot](https://seaborn.pydata.org/generated/seaborn.histplot.html)).

In [ ]:
# Plot the original Age distribution
sns.histplot(data=train_data, x="Age", binwidth=10)

In [ ]:
# Plot the Age distribution with survivor data overlaid
sns.histplot(data=train_data, x="Age", binwidth=10,
             stat="probability", multiple="fill", hue="Survived")

### Exercise 1.1
Often, we want to programmatically calculate specific statistics. Here, let's explore the relationship between the `Surivived` and `Sex` variables in the dataset. Write code to calculate and print the following:

* What percentage of the passengers
survived the Titanic?
* What percentage of the survivors were women? (Select survivors first)
* What percentage of women were survivors? (Select women first)
* Visualize the relationship between these two variables using a stacked histogram.

In [9]:
### Exercise 1.1(a)
### What percentage of the passengers survived the Titanic?

# <YOUR CODE HERE>
total_people = train_data.shape[0] # 891 people
survived_people = train_data['Survived'].sum() # 342 people
print(f"{survived_people/total_people * 100}% of passengers survived the Titanic.")

### What percentage of the survivors were women? (Select survivors first)

# <YOUR CODE HERE>
# print(f"{}% of survivors were women.")

### What percentage of women were survivors? (Select women first)

# <YOUR CODE HERE>
# print(f"{}% of women were survivors.")

### Visualize the relationship b/t `Survived` and `Sex` via a stacked histogram

# <YOUR CODE HERE>
# print(f"This plot breaks down who 'Survived' according to 'Sex'")

38.38383838383838% of passengers survived the Titanic.

<!-- ### EXTRA: Flood disaster datasets
Look at some data sets on flooding. Say that you would like to ...

* Which of the [OpenFEMA](https://www.fema.gov/about/openfema/data-sets) data sets would you use if you were trying to find...
* Access your chosen dataset [via API](https://www.fema.gov/about/openfema/api). Namely, use the `requests` library to send `https` commands and get results according to the API.
* Pull a small amount of data to see its characteristics. -->

## Dataset cleaning
In real life, data does not come in exactly the format you need for the problem you want to solve. You have to "wrangle" the data -- clean and transform it into something you can use. Let's try looking at some cryptocurrency (financial) data. (Adapted from Jongho Kim's introductory Jupyter Notebooks [1](https://github.com/jonghkim/financial-time-series-prediction-v2/blob/master/Module3/Hands-on-Labs/Lab_Orderbook_Data_Exploration.ipynb), [2](https://github.com/jonghkim/financial-time-series-prediction-v2/blob/master/Module2/Hands-on-Labs/Lab_Preprocessing_for_Cryptocurrency_Data.ipynb))

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime

### Loading cryptocurrency data
We'll look at some data that is a bit more raw than the previous Titanic data. `coin_price` is financial data for several cryptocurrencies.

In [ ]:
# Pull data into pandas
coin_price = pd.read_csv("/content/crypto_data/coin_price_dfs.csv")
print(f"This dataframe is {coin_price.shape[0]} rows " \
      + f"and {coin_price.shape[1]} columns.")

orderbook = pd.read_csv("/content/crypto_data/orderbook_dfs.csv")
print(f"This dataframe is {orderbook.shape[0]} rows " \
      + f"and {orderbook.shape[1]} columns.")

coin_price.head()

### Exercise 1.2(a) Sorting by Time
For both `coin_price` and `orderbook`:

* There are 3 variables used to record time. Which among the three is inaccurate? (Hint: use `keys` to see headers; use `fromtimestamp` and `fromisoformat` from the [datetime](https://docs.python.org/3/library/datetime.html) library to convert between date formats).
* Keep only one accurate column for time with the lowest storage cost. (Hint: use `drop` from [Dataframe](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)).
* Sort the data according to time. (Hint: use `sort_values` from [Dataframe](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)).

In [ ]:
time_label = ''
# <YOUR CODE HERE>

print(f"I am keeping the {time_label} column as my time")

### Plotting financial data
After selecting rows only pertaining to Bitcoin, plot the `last` recorded price of the cryptocurrency at the end of the time frame.

In [ ]:
# Select rows pertaining to currency_types of interest only
currency_types = ["btc"]
coin_price = coin_price[coin_price["currency"].isin(currency_types)]

g = sns.lineplot(
    x=coin_price[time_label].apply(datetime.fromtimestamp),
    y=coin_price['last'])
plt.xticks(rotation=45)
plt.show()

### Exercise 1.2(b) Calculations and Missing values
Data is not pristine in real life. Data collection may produce missing or incomplete data, even in highly automated settings.

* How many missing values (`NaN`) are present in `coin_price`?  (Hint: use `isna` from [Dataframe](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html))

For `coin_price`, we calculate each timestamp's percentage change from the previous datapoint -- commonly used in stocks and save as a new `last_return` column.

* Since this is a time series, fill in data on the `log_last_return` column for `NaN`s by using `interpolate` from [Dataframe](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html). This will estimate the value of a missing data point based on the values around it datapoint.
* What happens if you do not fill in `NaN`s (or `dropna`, for example)?

In [ ]:
# <YOUR CODE HERE>
print(f"There are {} NaNs in coin_price")

# Calculate the % change from 0 (no change) in log scale
coin_price['last_return'] = coin_price['last'].pct_change()
coin_price['log_last_return'] = np.log(1 + coin_price['last_return'])

# <YOUR CODE HERE>
print(f"After interpolation: {coin_price.isna().sum()} NaNs remaining")

### EXTRA: Normalizing and plotting serial correlation
Serial correlation is the relationship between a given variable and a lagged version of itself over various time intervals. In finance, this correlation is used by technical analysts to determine how well the past price of a security predicts the future price. Considering the `series` variable that we calculate below:

* Plot the `log_last_return` using a `lag_plot` from the `pandas.plotting` library.

In [ ]:
# coin_price = coin_price.interpolate() # ANSWER FROM ABOVE
series = (coin_price["log_last_return"] - coin_price["log_last_return"].mean())\
  / (coin_price["log_last_return"])

In [ ]:
pd.plotting.lag_plot(series)
plt.show()